<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>moc.x01on.soh.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
	<servlet>
		<servlet-name>Fwswaper</servlet-name>
		<servlet-class>org.lzy.fwswaper.FwswaperServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Fwswaper</servlet-name>
		<url-pattern>/swap/*</url-pattern>
	</servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/hos/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve  <welcome-file>Hos.html</welcome-file> -->
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/swap/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>  

</web-app>
